{% extends 'indexContents.html' %}

	{% block welcomeHeader %}
	Contact Information
	{% endblock welcomeHeader %}

	{% block welcomeContent %}
	<h4>Stephanie</h4>
	<ul class="contact">
		<li><a class="external" href="mailto:stephanie.andreescu@gmail.com">stephanie.andreescu@gmail.com</a></li>
		<li><a class="external" href="tel:+1-248-202-4814">248.202.4814</a></li>
	</ul>
	<br/>
	<h4>Dan</h4>
	<ul class="contact">
		<li><a class="external" href="mailto:dan.andreescu@gmail.com">dan.andreescu@gmail.com</a></li>
		<li><a class="external" href="tel:+1-248-877-7079">248.877.7079</a></li>
	</ul>
	{% endblock welcomeContent %}

	{% block detailContent %}
	<div id="detailOne">
		<img src="images/contact-us.jpg" alt="dan and stephie"/>
	</div>
	{% endblock detailContent %}
