{% extends 'indexContents.html' %}

	{% block welcomeHeader %}
		Our Story
	{% endblock welcomeHeader %}

	{% block welcomeContent %}
	<h4>Stephie's version</h4>
	<p>Dan and I met 11 years ago when we lived on different ends of the same floor freshman year.  Dan would come into our room, sit cross-legged on the floor and stare at my roommate.  Sometimes he'd recommend some music for us to download, but he mostly stared.  I thought he was one quirky duck.  He had a funny way of walking and I would spy him doing effeminate pirouettes all over west campus.  We didn't really hang out too much during college, but I respected and admired him.  After graduating, we kept in touch mostly over IM, updating each other on our lives and giving each other relationship advice.  Dan eventually convinced me that we were perfect for each other and we finally started dating 7 years after we first met.  We've been best friends ever since.  Dan proposed to me on October 17, 2010 during a picnic along Pennypack Creek in Philly.</p>
	{% endblock welcomeContent %}

	{% block detailContent %}
	<div id="detailOne">
		<h4>Dan's version (not officially sanctioned by you know who because of loose grammar)</h4>
		<p>We met in 2000 as floormates.  At the time, we thought not much about each other.</p>
		<p>She thought I was weird because I had a crush on her roomate and walked around without a shirt.  I thought she was pretty and could definitely become a doctor if that's what she wanted.</p>
		<p>It wasn't until much later that we truly met.  She asked me to come dancing so I took the next flight out.  We danced, talked, and at least one of us realized the other was the person he'd been looking for his whole life.</p>
		<p>Years later, sharing and growing together, we realize we're each other's forever.</p>
	</div>
	{% endblock detailContent %}
