{% extends 'indexContents.html' %}

	{% block welcomeHeader %}
		Our Lovely Wedding Party
	{% endblock welcomeHeader %}

	{% block welcomeContent %}
		<div class="pictures">
			<img src="/images/flash.jpg" alt="Flash" title="Flash" />
		</div>
		<h4 class="flash">Flash</h4>
		<p>Marian's favorite superhero and dog.  Also our ringbearer.</p>
	{% endblock welcomeContent %}

	{% block detailContent %}
		<div class="pictures">
			<div>
				<div>
					<img src="/images/marian.jpg" alt="Marian Andreescu" title="Marian Andreescu" />
					<h4>Marian</h4>
					<p>Dan's brother and best man.</p>
				</div>
				<div>
					<img src="/images/amy.jpg" alt="Amy Kuperinsky" title="Amy Kuperinsky" />
					<h4>Amy</h4>
					<p>Stephanie's friend since fifth grade.</p>
				</div>
			</div>
			<div>
				<div>
					<img src="/images/peter.jpg" alt="Peter Chung" title="Peter Chung" />
					<h4>Peter</h4>
					<p>Stephanie's friend since ninth grade.  Photo may be outdated :)</p>
				</div>
				<div>
					<img src="/images/mike.jpg" alt="Michael Merriweather" title="Michael Merriweather" />
					<h4>Mike</h4>
					<p>Dan's best friend.</p>
				</div>
			</div>
			<div>
				<div>
					<img src="/images/chris.jpg" alt="Chris Chin" title="Chris Chin" />
					<h4>Chris</h4>
					<p>Stephanie's younger, better-at-games, brother.</p>
				</div>
				<div>
					<img src="/images/jessica.jpg" alt="Jessica Chin" title="Jessica Chin" />
					<h4>Jessica</h4>
					<p>aka "cuzzie," Stephanie's second cousin and like a sister to her.</p>
				</div>
			</div>
		</div>
	{% endblock detailContent %}
