{% extends 'indexContents.html' %}

	{% block welcomeHeader %}
		What to Do
	{% endblock welcomeHeader %}

	{% block welcomeContent %}
	<p><strong>If you're not in a rush to leave, come back to our house on Sunday for board games, ping-pong, and leftovers!</strong></p>
	<p>Our favorite restaurants in the neighborhood:</p>
	<ul class="notCentered">
		<li><a href=http://www.earthbreadbrewery.com target="_blank" class="external">Earth Bread + Brewery</a> - Flatbread and brews. Dan's favorite. Closed Mondays.</li>
		<li><strong>Bacio Italian Restaurante</strong> - Stephanie's favorite restaurant in the area. Homemade everything, BYOB and just three blocks from our house [311 West Mount Pleasant Avenue, Phila, 19119</li>
		<li><a href=http://www.tiffin.com target="_blank" class="external">Tiffin</a> - Delicious Indian food. Stephanie loves Tiffin. Four blocks from our house [7105 Emlen Street]</li>
		<li><strong>Chestnut Hill Farmer's Market</strong> - Open Thursdays (9-6), Fridays (9-6), and Saturdays (8-5). A variety of vendors including fantastic homemade Trinidadian food. One of Dan's preferred. Located next to the Chestnut Hill Hotel [8229 Germantown Avenue, Phila, 19118</li>
		<li><strong>Jong Ka Jib Soft Tofu Restaurant</strong> - A bit of a drive, but so worth it. Who needs Fort Lee when you can have soondubu right here in Philly? Stephanie's ultimate comfort food and the reason Dan considers her a cheap date [6600 N 5th St, Phila, 19120]</li>
	</ul>
	{% endblock welcomeContent %}

	{% block detailContent %}
	<div id="detailOne">
		<img src="images/what-to-do.jpg" alt="dan and stephie"/>
	</div>
	{% endblock detailContent %}
