{% extends 'indexContents.html' %}

	{% block welcomeHeader %}
	Where to Stay
	{% endblock welcomeHeader %}

	{% block welcomeContent %}
	<p>Our neighborhood is mostly residential so hotels are further away.  Here are three choices that Dan thinks you're going to like.</p>
	<p><strong>Center City, Philadelphia.</strong>  Downtown has Rittenhouse, Old City, the museums, and more.  You can priceline a hotel for a reasonable price (<a href="contact-us">we're</a> priceline samurai if you need help).  Most hotels are convenient to SEPTA regional rail.  You can take the Chestnut Hill West Line <a class="external" href="http://septa.org/schedules/rail/s/CHW_0.html" target="_blank">to</a> and <a class="external" href="http://septa.org/schedules/rail/s/CHW_1.html" target="_blank">from</a> Allen Lane station which is a block and a half from our house (trains run every hour).  <a class="external" href="http://www.bing.com/maps/#JnE9LmNlbnRlciUyYmNpdHklMjUyYyUyYnBoaWxhZGVscGhpYSU3ZXNzdC4wJTdlcGcuMSZiYj02Mi4xMzM5MjIzNjc2NjI5JTdlLTM0LjI3MjM2MTc1NSU3ZTcuNTEzMzE0NzcxMDI0NCU3ZS0xMTYuMDEwNjQzMDA1" target="_blank">link</a></p>
	<p><strong>Plymouth Meeting, PA</strong> has hotels, a mall, and a Whole Foods.  It's convenient to the PA Turnpike and seven (slow) miles away from our house. <a class="external" href="http://www.bing.com/maps/#JnE9LnBseW1vdXRoJTJibWVldGluZyUyNTJjJTJicGElN2Vzc3QuMCU3ZXBnLjEmYmI9NjIuMTMzOTIyMzY3NjYyOSU3ZS0zNC4yNzIzNjE3NTUlN2U3LjUxMzMxNDc3MTAyNDQlN2UtMTE2LjAxMDY0MzAwNQ==" target="_blank">link</a>  We have reserved a block of rooms under "Chin/Andreescu Wedding Room Block" at the Springhill Suites by Marriott.  For the discounted group rates, book before August 16th by calling <a href="tel:+1-800-287-9400">800.287.9400</a> or you can also book directly online using the group code "cawcawa" (one king bed + sofabed) or "cawcawb" (two double beds + sofabed). </p>
	{% endblock welcomeContent %}

	{% block detailContent %}
	<div id="detailOne">
		<p><strong>Chestnut Hill Hotel</strong> is the one hotel that is close by.  The Chestnut Hill Farmer's Market is right next door and there's an ice cream shop nearby.  Cute shops and restaurants line Germantown Avenue in both directions.  The hotel is small and charming (read: expensive), and less than two miles from our house.  You can take SEPTA bus 23 (runs every fifteen minutes or so), grab a cab, or brave the walk.  We have reserved a block of rooms under Chin/Andreescu wedding.  The block is available until August 16.  <a class="external" href="http://www.chestnuthillhotel.com/" target="_blank">link</a></p>
	</div>
	{% endblock detailContent %}
